/* =========================================
   Header & Navigation Styling
   ========================================= */
header {
    background: url(images/central_park.jpg) 0-200px no-repeat;
    /* Background image for header */
    background-size: 1500px;
    height: 400px;
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

li a {
    text-decoration: none;
    /* Remove underline from links */
}

li a:link {
    color: #000;
    /* Before Click */
}

li a:visited {
    color: #818db3;
    /* After Click */
}

li a:hover {
    color: #333;
    /* When mouse hovers over link */
}

li a:active {
    color: #753a30;
    /* When link is clicked */
}

nav {
    background-color: rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}

/* =========================================
   Main Area & Footer Styling
   ========================================= */
main {
    /* height: 400px; */
    margin: 50px; /* Added from slide 7 */
}

main h1 {
    font-family: Arial;
    color: rgb(129, 141, 179);
}

footer {
    background-color: rgb(129, 141, 179);
    height: 40px;
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
}

/* =========================================
   Table Styling for page2.html (Slides 11-14)
   ========================================= */
table {
    margin-top: 35px;
}

table, caption, th, td {
    border: 1px solid #000;
}

th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}

caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
}

/* =========================================
   Form Styling for page3.html (Slides 17-20)
   ========================================= */
label {
    display: block;
    margin: 15px 0 0 0;
}

input {
    width: 300px;
}

input[type="radio"] {
    width: 25px;
}

textarea {
    width: 300px;
}

input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
}